<div class="container">
  <h1>documento</h1>
  <%= form_tag project_document_path,method: :put  do %>
  <%= text_area_tag(:text, "#{@content}" ,:id=> "room-text") %>
  <%= hidden_field_tag :parameter, @parameter %><br/>
  <%= submit_tag "guardar"%>
  <% end %>
  <li><%= link_to "eliminar", project_document_path(name:@parameter), method: :delete %></li>

</div>

<script >
init(<%= @project.id %>);

    editor= CodeMirror.fromTextArea($("#room-text").get(0), {
    lineNumbers: true,
    styleActiveLine: true,
    matchBrackets: true,
    mode: "javascript",
    theme: "midnight",
    indentUnit : 4,
    gutter: true
  });

  editor.on('change', function(editor,changeobj) {
     if(changeobj.origin != "ignore"){
        obj={
            editorobj: changeobj,
            evento: 'editor'
        }
       msg = JSON.stringify(obj);
      room.emit('event_editor', msg);
     }
   });

</script>

