<div class="container">

<h1>documento</h1>

<%= form_tag project_document_path,method: :put  do %>
<%= text_area_tag(:text, "#{@content}" ) %>
<%= hidden_field_tag :parameter, @parameter %><br/>
<%= submit_tag "guardar"%>
<% end %>

    <li><%= link_to "eliminar", project_document_path(name:@parameter), method: :delete %></li>

<!-- <div id="editor">function foo(items) {
    var i;
    for (i = 0; i &lt; items.length; i++) {
        alert("Ace Rocks " + items[i]);
    }
}</div>
 -->

<script>
  $("textarea").each(function() {
    CodeMirror.fromTextArea($(this).get(0), {
      lineNumbers: true,
      mode: "text/javascript"
    });
  });
</script>
</div>
