<div class="margin_show_projects">
  <div class="container-board">
   <div class="row">
   <div class="col-lg-2 container-files">
   <span><strong><i class='fa fa-fw fa-folder'></i><%= @project.name %></strong></span>
      <ul id="list_file">

        <% Dir.glob("storage/#{@project.id}/*").each do |file| %>

            <% file_name= file.split('/').last %>
            <% exten = file_name.split('.').last %>


          <li><%= extension(exten) %><%= link_to file_name, project_document_path(@project.id,@project.id,name:file), remote:true %></li>
        <% end %>
      </ul>


    </div>
   <div class="col-lg-8 container-editor-css" id="container-editor">

     <%= text_area_tag(:text, "#{@content}" ,:id=> "room-text") %>

   </div>

    <div class="col-lg-2 container-company">
     <h1>invited</h1>
   </div>
  </div>
  </div>
</div>

<script >
init(<%= @project.id %>);

  fneditor();

  editor.on('change', function(editor,changeobj) {
     if(changeobj.origin != "ignore"){
        obj={
            editorobj: changeobj,
            evento: 'editor'
        }
       msg = JSON.stringify(obj);
      room.emit('event_editor', msg);
     }
   });

</script>


<!-- <div class="container">

<h1>project</h1>

<%= @project.name %>

<br/>

   <h2>owner</h2>

   <%= @owner.name%>
   <br/>

  <div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>members</th>
      </tr>
    </thead>
    <tbody>
    <% @members.each do |t| %>
      <tr id="<%= t.id%>">
        <td><%= t.name %></td>
        <td><%= t.id %></td>
        <td><%= link_to "Eliminar",  project_invitation_path(@project.id,@project.id,user:t.id) ,method: :delete, remote: true %></td>
      </tr>
    <% end %>

    </tbody>
     <div id= "msg-alert"></div>
  </table>


</div>



<div>
    <%= form_tag("#{project_documents_path(@project.id)}", remote: true) do %>
    <%= text_field_tag :file_name %>
    <%= hidden_field_tag :project_id, @project.id%>
    <%= submit_tag "guardar"%>
  <% end %>

 <hr/>
  <% if @project.user_id== current_user.id %>
  <%= link_to 'invitaciones', new_project_invitation_path(@project.id,project:@project.id), remote: true%> <% end%>
 <hr/>


  <ul id="list_file">
  <% Dir.glob("storage/#{@project.id}/*").each do |file| %>

    <li><%= link_to file.split('/').last, project_document_path(@project.id,@project.id,name:file) %></li>
  <% end %>
</ul>
</div>
</div>

<script>

  init(<%= @project.id %>);

</script>


 -->
