<div class="container">

<h1>project</h1>

<%= @project.name %>

<br/>

   <h2>owner</h2>

   <%= @owner.name%>
   <br/>

  <div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>members</th>
      </tr>
    </thead>
    <tbody>
    <% @members.each do |t| %>
      <tr id="<%= t.id%>">
        <td><%= t.name %></td>
        <td><%= t.id %></td>
        <td><%= link_to "Eliminar",  project_invitation_path(@project.id,@project.id,user:t.id) ,method: :delete, remote: true %></td>
      </tr>
    <% end %>

    </tbody>
     <div id= "msg-alert"></div>
  </table>


</div>



<div>
    <%= form_tag("#{project_documents_path(@project.id)}", remote: true) do %>
    <%= text_field_tag :file_name %>
    <%= hidden_field_tag :project_id, @project.id%>
    <%= submit_tag "guardar"%>
  <% end %>

 <hr/>
  <% if @project.user_id== current_user.id %>
  <%= link_to 'invitaciones', new_project_invitation_path(@project.id,project:@project.id), remote: true%> <% end%>
 <hr/>


  <ul id="list_file">
  <% Dir.glob("storage/#{@project.id}/*").each do |file| %>

    <li><%= link_to file.split('/').last, project_document_path(@project.id,@project.id,name:file) %></li>
  <% end %>
</ul>
</div>
</div>
