<!DOCTYPE html>
<html>
<head>
  <title>PairPrograming</title>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href='https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>
  <script type="text/javascript" src="https://api.bistri.com/bistri.conference.min.js"></script>
  <%= csrf_meta_tags %>
</head>
  <body data-spy="scroll" data-offset="0" data-target="#navbar-main" class="bgcolor-3">
      <div id="navbar-main">
      <!-- Fixed navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span style="font-size:30px; color:#3498db;"><strong>PairDev</strong></span>
          </button>
          <%= link_to ('<span style="font-size:18px; color:#3498db;"><strong>PairDev</strong></span>').html_safe, root_path , class:"navbar-brand hidden-xs hidden-sm"%>
        </div>
         <% if current_page?(root_path) %>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">

            <li> <a href="#about" class="smoothScroll"> Nosotros</a></li>
            <li> <a href="#team" class="smoothScroll"> Equipo</a></li>
            <li> <a href="#contact" class="smoothScroll"> Contacto</a></li>
            <li><%= link_to "Entrar", new_user_session_path , id:"login-navbar"%></li>


            </ul>
        </div><!--/.nav-collapse -->
        <% end %>

        <% if user_signed_in? %>

           <div class="navbar-collapse collapse ">
          <ul class="nav navbar-nav navbar-right">


             <li class="dropdown">
          <a href="#" id= "link-navbar-perfil" class="dropdown-toggle  text-uppercase" data-toggle="dropdown" role="button" aria-expanded="false">
              <div class="navbar-perfil img-rounded">
                 <%= image_tag(Gravatar.new(current_user.email).image_url+"?s=35", class:"img-rounded") %>
                 <span><strong><%= current_user.name %></strong></span>
              </div>
          </a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#"><span class="glyphicon glyphicon-user icon"></span><span class="padding-text">Perfil</span></a></li>
            <li class="divider"></li>
            <li><%= link_to ('<span class="glyphicon glyphicon-log-out icon"></span><span class="padding-text">Salir</span>').html_safe, destroy_user_session_path ,method: :delete %></li>
          </ul>
        </li>






            </ul>
        </div><!--/.nav-collapse -->
             <% end %>
      </div>
    </div>
    </div>
    <%= render 'layouts/messages' %>
 <%= yield %>
</div>
</body>
</html>

<script>

  function notifications(obj){
  $.amaran({
   content:{
          img: obj.owner_img,
          user:obj.guest,
          message:'Hola! . te he invitado a colaborar en un nuevo proyecto. ¡Anímate!'
         },
      position:'top left',
      theme:'user white',
      delay: 8000
  });

  $('#list-project').append('<a href="/projects/'+obj.data_id+'"><div class="col-lg-3  content-project-invited"><p>'+obj.data_name+'</p></div></a>');
}
</script>
