<!DOCTYPE html>
<html>
<head>
  <title>PairPrograming</title>
   <%= include_gon %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>
  <body data-spy="scroll" data-offset="0" data-target="#navbar-main">
      <div id="navbar-main">
      <!-- Fixed navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon icon-shield" style="font-size:30px; color:#3498db;"></span>
          </button>
          <a class="navbar-brand hidden-xs hidden-sm" href="#home"><span class="icon icon-shield" style="font-size:18px; color:#3498db;"></span></a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="#home" class="smoothScroll">Home</a></li>
      <li> <a href="#about" class="smoothScroll"> About</a></li>
      <li> <a href="#services" class="smoothScroll"> Services</a></li>
      <li> <a href="#team" class="smoothScroll"> Team</a></li>
      <li> <a href="#portfolio" class="smoothScroll"> Portfolio</a></li>
      <li> <a href="#blog" class="smoothScroll"> Blog</a></li>
      <li> <a href="#contact" class="smoothScroll"> Contact</a></li>
        </div><!--/.nav-collapse -->
      </div>
    </div>
    </div>



<%= yield %>

  <div id="footerwrap">
      <div class="container">
        <h4>Created by <a href="#">Mike</a> - Copyright 2015</h4>
      </div>
    </div>
</body>
</html>
